/*Layout styles */
 body{
     margin-left:auto;
     margin-right:auto ;
     background-color: #4aaaa5;
     width:960px;
     height:100vh;
     font-family:'Arial', sans-serif ;
     font-size: 15px;
     color:#777777;
     background-image:url("../images/circles.png");
}

 header{
     color:white;
     padding:10px;
     border-color: #cccccc;
     float:left;
}
 nav{
     display:block;
     float:right;
     padding:20px;
}
 .container{
     width:100%;
     float:left;
}
 section{
     float:left;
     width:640px;
     border-color: #dddddd;
     padding:10px;
     background-color:#ffffff;
}
 aside{
     float:right;
     width:170px;
     padding:30px;
     border-color: #dddddd;
     background-color:#ffffff;
}
 footer{
     text-align: center;
     background-color:#666666;
     clear:both;
     padding:15px;
     color:white;
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
}
/*Headings styles */
 h1{
     padding:10px;
     font-family:'Georgia', Serif;
     background-color: #4aaaa5;
     font-size: 20px;
}
 h2{
     padding:10px;
     color:#4aaaa5;
     font-family:'Georgia', Serif;
     font-size: 18px;
}
/* Menu list */
 ul{
     list-style-type: none;
     overflow: hidden;
}
/* Menu list content */
 .lia{
     text-decoration: none;
     text-align: center color:#777777;
}
 .li{
     float: left;
     padding:10px;
}
 a:visited{
     color:#777777;
}
 a:hover{
     color: red;
     transition: color 1s;
}
 section:hover {
     background-image:url("../images/circles(1).png");
}

aside:hover{
     background-image:url("../images/circles(1).png");
}

 #p01::first-line{
     color:#4aaaa5;
     
}
 .img1{
     height:40px;
     width:40px;
}
 p{
     padding:10px;
}
 img{
     float:left;
     padding:10px;
}
 form{
     padding:10px;
}
 input[type=submit]{
     background-color:#4aaaa5;
     color:white;
     padding:10px 20px;
}
 table{
     width:600px;
     margin:auto;
}
 td{
     padding:30px;
}
/* table,tr,td{
     border: 1px solid black;
}
/*Layout styles */
 